In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [51]:
data=pd.read_csv(r"C:\Users\sairam\Downloads\food nutritional values.csv")
data.head()

,index,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,...,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp,0.0
1,1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,...,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp,0.0
2,2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,...,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup,0.0
3,3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,...,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch,0.0
4,4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,...,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded",0.0

There are different datatypes in the given dataset like int, float and object. Object datatype refers to the descriptive texts. These are not needed for prediction or other ML-tasks. Hence we can remove all the object datatypes that are Shrt_Desc, GmWt_Desc1 and GmWt_Desc2. Also, index and NDB_No are not necessary for ML tasks. Hence we can remove all these five columns.

In [52]:
data=data.drop(['index'],axis=1)
data=data.drop(['NDB_No'],axis=1)
data=data.drop(['Shrt_Desc'],axis=1)
data=data.drop(['GmWt_Desc1'],axis=1)
data=data.drop(['GmWt_Desc2'],axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Water_(g)          8789 non-null   float64
 1   Energ_Kcal         8790 non-null   int64
 2   Protein_(g)        8790 non-null   float64
 3   Lipid_Tot_(g)      8790 non-null   float64
 4   Ash_(g)            8465 non-null   float64
 5   Carbohydrt_(g)     8790 non-null   float64
 6   Fiber_TD_(g)       8196 non-null   float64
 7   Sugar_Tot_(g)      6958 non-null   float64
 8   Calcium_(mg)       8442 non-null   float64
 9   Iron_(mg)          8646 non-null   float64
 10  Magnesium_(mg)     8051 non-null   float64
 11  Phosphorus_(mg)    8211 non-null   float64
 12  Potassium_(mg)     8364 non-null   float64
 13  Sodium_(mg)        8707 non-null   float64
 14  Zinc_(mg)          8084 non-null   float64
 15  Copper_mg)         7533 non-null   float64
 16  Manganese_(mg)     6630 non-null   float64
 17  Selenium_(µg)      7090 non-null   float64
 18  Vit_C_(mg)         7972 non-null   float64
 19  Thiamin_(mg)       8156 non-null   float64
 20  Riboflavin_(mg)    8174 non-null   float64
 21  Niacin_(mg)        8153 non-null   float64
 22  Panto_Acid_mg)     6548 non-null   float64
 23  Vit_B6_(mg)        7885 non-null   float64
 24  Folate_Tot_(µg)    7529 non-null   float64
 25  Folic_Acid_(µg)    6751 non-null   float64
 26  Food_Folate_(µg)   7022 non-null   float64
 27  Folate_DFE_(µg)    6733 non-null   float64
 28  Choline_Tot_ (mg)  4774 non-null   float64
 29  Vit_B12_(µg)       7597 non-null   float64
 30  Vit_A_IU           8079 non-null   float64
 31  Vit_A_RAE          7255 non-null   float64
 32  Retinol_(µg)       6984 non-null   float64
 33  Alpha_Carot_(µg)   5532 non-null   float64
 34  Beta_Carot_(µg)    5628 non-null   float64
 35  Beta_Crypt_(µg)    5520 non-null   float64
 36  Lycopene_(µg)      5498 non-null   float64
 37  Lut+Zea_ (µg)      5475 non-null   float64
 38  Vit_E_(mg)         5901 non-null   float64
 39  Vit_D_µg           5528 non-null   float64
 40  Vit_D_IU           5579 non-null   float64
 41  Vit_K_(µg)         5227 non-null   float64
 42  FA_Sat_(g)         8441 non-null   float64
 43  FA_Mono_(g)        8124 non-null   float64
 44  FA_Poly_(g)        8125 non-null   float64
 45  Cholestrl_(mg)     8380 non-null   float64
 46  GmWt_1             8490 non-null   float64
 47  GmWt_2             4825 non-null   float64
 48  Refuse_Pct         8740 non-null   float64
dtypes: float64(48), int64(1)
memory usage: 3.3 MB

In [53]:
data.isnull().sum()

Water_(g)               1
Energ_Kcal              0
Protein_(g)             0
Lipid_Tot_(g)           0
Ash_(g)               325
Carbohydrt_(g)          0
Fiber_TD_(g)          594
Sugar_Tot_(g)        1832
Calcium_(mg)          348
Iron_(mg)             144
Magnesium_(mg)        739
Phosphorus_(mg)       579
Potassium_(mg)        426
Sodium_(mg)            83
Zinc_(mg)             706
Copper_mg)           1257
Manganese_(mg)       2160
Selenium_(µg)        1700
Vit_C_(mg)            818
Thiamin_(mg)          634
Riboflavin_(mg)       616
Niacin_(mg)           637
Panto_Acid_mg)       2242
Vit_B6_(mg)           905
Folate_Tot_(µg)      1261
Folic_Acid_(µg)      2039
Food_Folate_(µg)     1768
Folate_DFE_(µg)      2057
Choline_Tot_ (mg)    4016
Vit_B12_(µg)         1193
Vit_A_IU              711
Vit_A_RAE            1535
Retinol_(µg)         1806
Alpha_Carot_(µg)     3258
Beta_Carot_(µg)      3162
Beta_Crypt_(µg)      3270
Lycopene_(µg)        3292
Lut+Zea_ (µg)        3315
Vit_E_(mg)           2889
Vit_D_µg             3262
Vit_D_IU             3211
Vit_K_(µg)           3563
FA_Sat_(g)            349
FA_Mono_(g)           666
FA_Poly_(g)           665
Cholestrl_(mg)        410
GmWt_1                300
GmWt_2               3965
Refuse_Pct             50
dtype: int64

We can observe that this dataset contains a lot of empty values. Therefore we need to fill them. The nutritional values for these food items would be unique, hence it wont be good to duplicate the values from previous/next data. So using, ffill and bfill are ruled out. The other left out options are using statistical metrics like mean, std, median or interpolation. I am going with the stastical based filling, since interpolation also depends on neighbouring data. Hence I am going to fill all the missing values with the mean of their corresponding column.

In [54]:
data.describe()

,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),...,Vit_D_µg,Vit_D_IU,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_2,Refuse_Pct
count,8789.000000,8790.000000,8790.000000,8790.000000,8465.000000,8790.000000,8196.000000,6958.000000,8442.000000,8646.000000,...,5528.000000,5579.000000,5227.000000,8441.000000,8124.000000,8125.000000,8380.000000,8490.000000,4825.000000,8740.000000
mean,54.112218,226.317634,11.342849,10.553725,1.783468,22.127710,2.187445,8.543066,76.738214,2.699674,...,0.579269,22.990142,15.631586,3.576334,4.081006,2.288767,40.613246,96.395130,250.747668,4.964416
std,30.772854,169.877539,10.530474,15.814842,3.004609,27.270822,4.383138,14.923626,203.527453,5.687560,...,3.882702,154.614465,79.949125,6.518840,7.010760,5.215654,119.869371,84.337063,382.226774,12.088471
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.400000,0.000000
25%,29.700000,91.000000,2.380000,0.950000,0.840000,0.050000,0.000000,0.000000,10.000000,0.540000,...,0.000000,0.000000,0.200000,0.220000,0.235750,0.220000,0.000000,29.000000,42.000000,0.000000
50%,63.080000,191.000000,8.000000,5.140000,1.200000,9.340000,0.700000,1.840000,21.000000,1.380000,...,0.000000,0.000000,1.600000,1.592000,1.938500,0.696000,4.000000,85.000000,164.000000,0.000000
75%,77.960000,337.000000,19.880000,13.720000,2.090000,34.910000,2.600000,9.287500,69.000000,2.600000,...,0.200000,6.000000,5.200000,4.345000,5.115000,2.081000,67.000000,130.000000,305.000000,0.000000
max,100.000000,902.000000,88.320000,100.000000,99.800000,100.000000,79.000000,99.800000,7364.000000,123.600000,...,250.000000,10000.000000,1714.500000,95.600000,83.689000,74.623000,3100.000000,1184.000000,5717.000000,81.000000

**Treating empty cells**

In [55]:
a=data.mean()
data=data.fillna(a)

In [56]:
data.isnull().sum()

Water_(g)            0
Energ_Kcal           0
Protein_(g)          0
Lipid_Tot_(g)        0
Ash_(g)              0
Carbohydrt_(g)       0
Fiber_TD_(g)         0
Sugar_Tot_(g)        0
Calcium_(mg)         0
Iron_(mg)            0
Magnesium_(mg)       0
Phosphorus_(mg)      0
Potassium_(mg)       0
Sodium_(mg)          0
Zinc_(mg)            0
Copper_mg)           0
Manganese_(mg)       0
Selenium_(µg)        0
Vit_C_(mg)           0
Thiamin_(mg)         0
Riboflavin_(mg)      0
Niacin_(mg)          0
Panto_Acid_mg)       0
Vit_B6_(mg)          0
Folate_Tot_(µg)      0
Folic_Acid_(µg)      0
Food_Folate_(µg)     0
Folate_DFE_(µg)      0
Choline_Tot_ (mg)    0
Vit_B12_(µg)         0
Vit_A_IU             0
Vit_A_RAE            0
Retinol_(µg)         0
Alpha_Carot_(µg)     0
Beta_Carot_(µg)      0
Beta_Crypt_(µg)      0
Lycopene_(µg)        0
Lut+Zea_ (µg)        0
Vit_E_(mg)           0
Vit_D_µg             0
Vit_D_IU             0
Vit_K_(µg)           0
FA_Sat_(g)           0
FA_Mono_(g)          0
FA_Poly_(g)          0
Cholestrl_(mg)       0
GmWt_1               0
GmWt_2               0
Refuse_Pct           0
dtype: int64

All the empty values have been filled with the mean. The next step is to check for any duplicates and removing them.

**Dealing with duplicates**

In [57]:
data.duplicated()
data.drop_duplicates()

,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),...,Vit_D_µg,Vit_D_IU,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_2,Refuse_Pct
0,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,24.0,0.02,...,0.0,0.0,7.0,51.368,21.021,3.043,215.0,5.00,14.200000,0.0
1,16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,23.0,0.05,...,0.0,0.0,4.6,45.390,19.874,3.331,225.0,3.80,9.400000,0.0
2,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,4.0,0.00,...,0.0,0.0,8.6,61.924,28.732,3.694,256.0,12.80,205.000000,0.0
3,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,528.0,0.31,...,0.5,21.0,2.4,18.669,7.778,0.800,75.0,28.35,17.000000,0.0
4,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,674.0,0.43,...,0.5,22.0,2.5,18.764,8.598,0.784,94.0,132.00,113.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8785,43.00,305,18.50,25.10,13.40,0.00,0.0,0.00,66.0,1.40,...,25.2,1006.0,7.8,7.148,8.320,6.210,95.0,80.00,17.000000,0.0
8786,70.25,111,20.54,0.84,2.97,5.41,0.0,0.00,10.0,0.58,...,0.0,2.0,0.0,0.218,0.082,0.222,41.0,85.00,250.747668,0.0
8787,26.00,269,0.00,0.00,0.86,73.14,0.0,73.20,13.0,3.60,...,0.0,0.0,0.0,0.000,0.000,0.000,0.0,21.00,250.747668,0.0
8788,79.20,90,16.10,1.40,1.30,2.00,0.0,0.00,10.0,3.50,...,0.0,0.0,0.1,0.361,0.259,0.252,50.0,85.00,250.747668,0.0
8789,78.50,89,19.80,0.50,1.20,0.00,0.0,0.00,118.0,1.40,...,0.0,0.0,0.1,0.127,0.088,0.170,50.0,85.00,250.747668,0.0

There were 27 duplicate values which have been removed. The next step is to detect outliers in the dataset. For this I am going to use the Z-Score metric. Z-Score calculates the distance of a given datapoint to the mean with respect to standard deviation. It is proved that 99.7% of data falls into the distribution where the S.D is less than three. So any values beyond them are considered as outliers.

**Dealing with outliers**

In [59]:
from scipy import stats
for x in data.columns:
    z = np.abs(stats.zscore(data[x]))
    out=np.where(z>3)[0]
    print(x+ " "+str(out))
    data[x]=data[x].drop(out)

Water_(g) []
Energ_Kcal []
Protein_(g) []
Lipid_Tot_(g) []
Ash_(g) []
Carbohydrt_(g) []
Fiber_TD_(g) []
Sugar_Tot_(g) []
Calcium_(mg) []
Iron_(mg) []
Magnesium_(mg) []
Phosphorus_(mg) []
Potassium_(mg) []
Sodium_(mg) []
Zinc_(mg) []
Copper_mg) []
Manganese_(mg) []
Selenium_(µg) []
Vit_C_(mg) []
Thiamin_(mg) []
Riboflavin_(mg) []
Niacin_(mg) []
Panto_Acid_mg) []
Vit_B6_(mg) []
Folate_Tot_(µg) []
Folic_Acid_(µg) []
Food_Folate_(µg) []
Folate_DFE_(µg) []
Choline_Tot_ (mg) []
Vit_B12_(µg) []
Vit_A_IU []
Vit_A_RAE []
Retinol_(µg) []
Alpha_Carot_(µg) []
Beta_Carot_(µg) []
Beta_Crypt_(µg) []
Lycopene_(µg) []
Lut+Zea_ (µg) []
Vit_E_(mg) []
Vit_D_µg []
Vit_D_IU []
Vit_K_(µg) []
FA_Sat_(g) []
FA_Mono_(g) []
FA_Poly_(g) []
Cholestrl_(mg) []
GmWt_1 []
GmWt_2 []
Refuse_Pct []

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Water_(g)          8790 non-null   float64
 1   Energ_Kcal         8670 non-null   float64
 2   Protein_(g)        8738 non-null   float64
 3   Lipid_Tot_(g)      8577 non-null   float64
 4   Ash_(g)            8725 non-null   float64
 5   Carbohydrt_(g)     8790 non-null   float64
 6   Fiber_TD_(g)       8634 non-null   float64
 7   Sugar_Tot_(g)      8535 non-null   float64
 8   Calcium_(mg)       8633 non-null   float64
 9   Iron_(mg)          8601 non-null   float64
 10  Magnesium_(mg)     8603 non-null   float64
 11  Phosphorus_(mg)    8696 non-null   float64
 12  Potassium_(mg)     8678 non-null   float64
 13  Sodium_(mg)        8743 non-null   float64
 14  Zinc_(mg)          8686 non-null   float64
 15  Copper_mg)         8719 non-null   float64
 16  Manganese_(mg)     8770 non-null   float64
 17  Selenium_(µg)      8744 non-null   float64
 18  Vit_C_(mg)         8767 non-null   float64
 19  Thiamin_(mg)       8708 non-null   float64
 20  Riboflavin_(mg)    8638 non-null   float64
 21  Niacin_(mg)        8652 non-null   float64
 22  Panto_Acid_mg)     8718 non-null   float64
 23  Vit_B6_(mg)        8620 non-null   float64
 24  Folate_Tot_(µg)    8638 non-null   float64
 25  Folic_Acid_(µg)    8653 non-null   float64
 26  Food_Folate_(µg)   8654 non-null   float64
 27  Folate_DFE_(µg)    8661 non-null   float64
 28  Choline_Tot_ (mg)  8729 non-null   float64
 29  Vit_B12_(µg)       8710 non-null   float64
 30  Vit_A_IU           8702 non-null   float64
 31  Vit_A_RAE          8743 non-null   float64
 32  Retinol_(µg)       8749 non-null   float64
 33  Alpha_Carot_(µg)   8742 non-null   float64
 34  Beta_Carot_(µg)    8675 non-null   float64
 35  Beta_Crypt_(µg)    8767 non-null   float64
 36  Lycopene_(µg)      8729 non-null   float64
 37  Lut+Zea_ (µg)      8721 non-null   float64
 38  Vit_E_(mg)         8676 non-null   float64
 39  Vit_D_µg           8734 non-null   float64
 40  Vit_D_IU           8734 non-null   float64
 41  Vit_K_(µg)         8713 non-null   float64
 42  FA_Sat_(g)         8671 non-null   float64
 43  FA_Mono_(g)        8597 non-null   float64
 44  FA_Poly_(g)        8624 non-null   float64
 45  Cholestrl_(mg)     8722 non-null   float64
 46  GmWt_1             8721 non-null   float64
 47  GmWt_2             8662 non-null   float64
 48  Refuse_Pct         8522 non-null   float64
dtypes: float64(49)
memory usage: 3.3 MB

In [61]:
data.isnull().sum()

Water_(g)              0
Energ_Kcal           120
Protein_(g)           52
Lipid_Tot_(g)        213
Ash_(g)               65
Carbohydrt_(g)         0
Fiber_TD_(g)         156
Sugar_Tot_(g)        255
Calcium_(mg)         157
Iron_(mg)            189
Magnesium_(mg)       187
Phosphorus_(mg)       94
Potassium_(mg)       112
Sodium_(mg)           47
Zinc_(mg)            104
Copper_mg)            71
Manganese_(mg)        20
Selenium_(µg)         46
Vit_C_(mg)            23
Thiamin_(mg)          82
Riboflavin_(mg)      152
Niacin_(mg)          138
Panto_Acid_mg)        72
Vit_B6_(mg)          170
Folate_Tot_(µg)      152
Folic_Acid_(µg)      137
Food_Folate_(µg)     136
Folate_DFE_(µg)      129
Choline_Tot_ (mg)     61
Vit_B12_(µg)          80
Vit_A_IU              88
Vit_A_RAE             47
Retinol_(µg)          41
Alpha_Carot_(µg)      48
Beta_Carot_(µg)      115
Beta_Crypt_(µg)       23
Lycopene_(µg)         61
Lut+Zea_ (µg)         69
Vit_E_(mg)           114
Vit_D_µg              56
Vit_D_IU              56
Vit_K_(µg)            77
FA_Sat_(g)           119
FA_Mono_(g)          193
FA_Poly_(g)          166
Cholestrl_(mg)        68
GmWt_1                69
GmWt_2               128
Refuse_Pct           268
dtype: int64

In [62]:
data=data.dropna()

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6660 entries, 3 to 8789
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Water_(g)          6660 non-null   float64
 1   Energ_Kcal         6660 non-null   float64
 2   Protein_(g)        6660 non-null   float64
 3   Lipid_Tot_(g)      6660 non-null   float64
 4   Ash_(g)            6660 non-null   float64
 5   Carbohydrt_(g)     6660 non-null   float64
 6   Fiber_TD_(g)       6660 non-null   float64
 7   Sugar_Tot_(g)      6660 non-null   float64
 8   Calcium_(mg)       6660 non-null   float64
 9   Iron_(mg)          6660 non-null   float64
 10  Magnesium_(mg)     6660 non-null   float64
 11  Phosphorus_(mg)    6660 non-null   float64
 12  Potassium_(mg)     6660 non-null   float64
 13  Sodium_(mg)        6660 non-null   float64
 14  Zinc_(mg)          6660 non-null   float64
 15  Copper_mg)         6660 non-null   float64
 16  Manganese_(mg)     6660 non-null   float64
 17  Selenium_(µg)      6660 non-null   float64
 18  Vit_C_(mg)         6660 non-null   float64
 19  Thiamin_(mg)       6660 non-null   float64
 20  Riboflavin_(mg)    6660 non-null   float64
 21  Niacin_(mg)        6660 non-null   float64
 22  Panto_Acid_mg)     6660 non-null   float64
 23  Vit_B6_(mg)        6660 non-null   float64
 24  Folate_Tot_(µg)    6660 non-null   float64
 25  Folic_Acid_(µg)    6660 non-null   float64
 26  Food_Folate_(µg)   6660 non-null   float64
 27  Folate_DFE_(µg)    6660 non-null   float64
 28  Choline_Tot_ (mg)  6660 non-null   float64
 29  Vit_B12_(µg)       6660 non-null   float64
 30  Vit_A_IU           6660 non-null   float64
 31  Vit_A_RAE          6660 non-null   float64
 32  Retinol_(µg)       6660 non-null   float64
 33  Alpha_Carot_(µg)   6660 non-null   float64
 34  Beta_Carot_(µg)    6660 non-null   float64
 35  Beta_Crypt_(µg)    6660 non-null   float64
 36  Lycopene_(µg)      6660 non-null   float64
 37  Lut+Zea_ (µg)      6660 non-null   float64
 38  Vit_E_(mg)         6660 non-null   float64
 39  Vit_D_µg           6660 non-null   float64
 40  Vit_D_IU           6660 non-null   float64
 41  Vit_K_(µg)         6660 non-null   float64
 42  FA_Sat_(g)         6660 non-null   float64
 43  FA_Mono_(g)        6660 non-null   float64
 44  FA_Poly_(g)        6660 non-null   float64
 45  Cholestrl_(mg)     6660 non-null   float64
 46  GmWt_1             6660 non-null   float64
 47  GmWt_2             6660 non-null   float64
 48  Refuse_Pct         6660 non-null   float64
dtypes: float64(49)
memory usage: 2.5 MB

Hence the empty data with which we filled using the mean, acts as outliers. But are they really outliers? The answer to this question is unknown and it requires domain knowledge. I went with the statistical intuition and hence i decided to remove those values. What I would suggest is that we can train ML algorithm with two datasets, the one which has the entire data, and another in which the outliers are removed. Based on the performance, we can determine whether the removal of outliers is needed or not. Now we have 5032 rows with data that dont have outliers.

The last step in data cleaning is feature scaling. This comprises of two methods, namely, standardisation and normalization. The use of either standardisation or nomalization depends on the type of ML algorithm to be used. In this case, i will perform both standardisation and normalization.

**Normalization**

In [64]:
data_norm=data.copy()
for column in data.columns:
    data_norm[column] = (data_norm[column] - data_norm[column].min()) / (data_norm[column].max() - data_norm[column].min()) 
data_norm.head()

,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),...,Vit_D_µg,Vit_D_IU,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_2,Refuse_Pct
3,0.4241,0.579639,0.536341,0.539921,0.491346,0.0234,0.0,0.010343,0.783383,0.015816,...,0.052083,0.054404,0.012384,0.821699,0.325412,0.046173,0.193798,0.083113,0.015165,0.0
4,0.4111,0.609195,0.582456,0.557580,0.305769,0.0279,0.0,0.010550,1.000000,0.021939,...,0.052083,0.056995,0.012900,0.825880,0.359719,0.045250,0.242894,0.388055,0.102869,0.0
5,0.4842,0.548440,0.520050,0.520008,0.259615,0.0045,0.0,0.009309,0.272997,0.025510,...,0.052083,0.051813,0.011868,0.766285,0.335244,0.047674,0.258398,0.083113,0.131189,0.0
6,0.5180,0.492611,0.496241,0.455758,0.353846,0.0046,0.0,0.009516,0.575668,0.016837,...,0.041667,0.046632,0.010320,0.671611,0.293825,0.041787,0.186047,0.083113,0.224374,0.0
7,0.3928,0.617406,0.631078,0.548563,0.315385,0.0306,0.0,0.176729,0.998516,0.032653,...,0.060341,0.059560,0.080658,0.817958,0.346205,0.047905,0.240310,0.083113,0.228712,0.0

**Standardisation**

In [66]:
data.describe()

,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),...,Vit_D_µg,Vit_D_IU,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_2,Refuse_Pct
count,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,...,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000,6660.000000
mean,59.851412,194.729880,10.955267,8.077045,1.439132,19.566631,1.631490,6.802427,50.268170,1.743605,...,0.381545,15.045029,10.166256,2.853074,3.245475,1.639228,33.565865,100.427266,237.075217,3.997840
std,27.372319,136.374167,9.773288,8.926108,1.031597,24.716610,2.295330,9.103893,72.343537,1.781095,...,0.568168,22.765099,13.033897,3.495152,3.577832,2.314500,41.553103,73.773710,149.763551,9.242915
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.400000,0.000000
25%,47.792500,79.000000,2.370000,0.820000,0.830000,0.000000,0.000000,0.040000,10.000000,0.550000,...,0.000000,0.000000,1.400000,0.220000,0.327000,0.234000,0.000000,31.075000,159.000000,0.000000
50%,65.780000,168.000000,7.690000,4.800000,1.170000,8.800000,0.900000,3.880000,21.000000,1.370000,...,0.400000,14.000000,11.200000,1.681500,2.310000,0.739500,10.000000,85.000000,250.747668,0.000000
75%,80.700000,277.000000,19.610000,12.532500,1.783468,27.222500,2.187445,8.543066,70.250000,2.480000,...,0.579269,22.990142,15.631586,3.840750,4.481000,2.288767,65.000000,135.000000,250.747668,0.000000
max,100.000000,609.000000,39.900000,53.230000,10.400000,100.000000,14.700000,48.340000,674.000000,19.600000,...,9.600000,386.000000,193.800000,22.720000,23.902000,17.326000,387.000000,340.000000,1095.000000,41.000000

In [67]:
from sklearn.preprocessing import StandardScaler

# copy of datasets
data_stand = data.copy()
# apply standardization on numerical features
for i in data_stand.columns:
    
    # fit on training data column
    scale = StandardScaler().fit(data_stand[[i]])
    
    # transform the training data column
    data_stand[i] = scale.transform(data_stand[[i]])
data_stand.head()

,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),...,Vit_D_µg,Vit_D_IU,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_2,Refuse_Pct
3,-0.637239,1.160645,1.068782,2.315063,3.558700,-0.697018,-0.71084,-0.692330,6.604152,-0.804961,...,0.208502,0.261603,-0.595895,4.525443,1.266931,-0.362623,0.997212,-0.977078,-1.469595,-0.432563
4,-0.684736,1.292645,1.257065,2.420380,1.687674,-0.678810,-0.71084,-0.691232,8.622452,-0.737582,...,0.208502,0.305533,-0.588223,4.552626,1.496137,-0.369536,1.454492,0.427999,-0.828536,-0.432563
5,-0.417658,1.021312,1.002269,2.196302,1.222340,-0.773491,-0.71084,-0.697823,1.848705,-0.698277,...,0.208502,0.217673,-0.603568,4.165203,1.332618,-0.351389,1.598897,-0.977078,-0.621528,-0.432563
6,-0.294166,0.771979,0.905058,1.813127,2.172396,-0.773086,-0.71084,-0.696724,4.668796,-0.793731,...,0.032484,0.129812,-0.626587,3.549733,1.055893,-0.395462,0.925010,-0.977078,0.059597,-0.432563
7,-0.751597,1.329311,1.455580,2.366602,1.784618,-0.667886,-0.71084,0.191212,8.608628,-0.619668,...,0.348029,0.349030,0.419348,4.501122,1.405852,-0.349660,1.430425,-0.977078,0.091300,-0.432563

Now the data has been cleaned and is good to go for any relevant machine learning tasks!!